body {
    background-color: #666666;
}

#wrapper {
    width: 800px;
    height: 600px;
    padding: 50px;
}

#wrapper header h1 {
    font-size: 20px;
    background-color: #143654;
    color: #ccca37;
    text-align: center;
    font-weight: bold;
    padding: 30px;
}

#wrapper header h1 strong {
    color: white;
    font-size: 80px;
}

#wrapper header h1 span {
    font-size: 50px;
}

#wrapper header h1 em {
    color: #cccccc;
    font-size: 60px;
}

.container {
    position: relative;
}

.menu {
    background: #cccccc;
    padding: 50px 35px;
    height: 350px;
    position: absolute;
    z-index: 1;
}

.menu li {
    font-size: 20px;
    margin-bottom: 30px;
}
.menu li a {
    color: gray;
}

.content {
    position: absolute;
    top: 0;
    left: 170px;
}

.content h2 {
    background-color: #850106;
    color: #efee44;
    font-size: 25px;
    font-family: 궁서체;
    font-weight: bold;
    padding: 10px 30px;
}

.content p {
    padding: 25px;
    background-color: white;
    color: #143654;
}

address {
    position: absolute;
    top: 640px;

    background-color: #A9AAA9;
    font-size: 20px;
    padding: 15px;
    width: 770px;
}
