* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* ====================================================== */
body {
    background-color: #666666;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

#wrapper {
    width: 50%;
    margin: 0 auto;
}

header {
    background: #143654;
    padding: 10px;
    color: #fff;
}

header h1 {
    font-size: 30px;
    color: #ccca37;
    text-align: center;
    font-weight: bold;
    font-family: monospace, sans-serif;
}

header h1 strong {
    color: white;
    font-size: 3em;
}

header h1 span {
    font-size: 1.5em;
}

header h1 em {
    color: #cccccc;
    font-size: 2em;
}

.container {
    background: #cccccc;
}

.container .menu {
    float: left;
    width: 20%;
    padding: 20px;
}

.container .menu li {
    text-decoration: underline;
    margin-bottom: 10px;
}

.container .menu li:hover {
    color: #662;
    border-bottom: 1px dashed #662;
}

.container .content {
    float: right;
    width: 80%;
    background: #fff;
}

.container .content h2 {
    background-color: #850106;
    color: #efee44;
    font-size: 25px;
    font-family: 궁서체;
    font-weight: bold;
    padding: 5px 20px;
}

.container .content p {
    padding: 20px;
    text-align: justify;
}

footer {
    background-color: #aaaaaa;
    padding: 10px 20px;
}

footer address {
    color: #000;
}
